<script type="text/javascript">
	document.getElementById("nvBar").style.display="none";
</script>
<!-- <div class="centeredContent" style="width:80%; margin-left: -40%"> -->
<div class="section group">
	<div class="col span_1_of_3" id="head">
		<div id="wrapDiv">
			<div id="headshot"></div>
		</div>
	</div>
	<div class="col span_2_of_3">
		<div id="aboutTxt">
			<h2>Hi, I’m Craig.</h2>
			<h3>I'm a <a class="aboutLink" href="/work/technical/code">Programmer</a> and <a class="aboutLink" href="/work/visual/ux_design">UX Designer</a> professionally, and I make <a class="aboutLink" href="/work/audible/beats">Music</a> for fun.</h3>
			<h4>TVA</h4>
			<h3 class="hideSmall"> Please reach out on my contact page for more information!</h3>
		</div>

	</div>
</div>