<script type="text/javascript">
	document.getElementById("nvBar").style.display="none";
</script>

<div class="section group height100 scrollY">
	<div class="col span_1_of_2 height100" style="position:relative;">
		<h1 class="getInTouch">{{header}} </h1>
		<div id="cCard">
			<a class="cCardLink" href="/work/technical/code">
				<div class="cBox cLight">
					<span class="cText">T</span>
				</div>
			</a>
			<a class="cCardLink" href="/work/visual/ux_design">
				<div class="cBox cDark">
					<span class="cText">V</span>
				</div>
			</a>
			<a class="cCardLink" href="/work/audible/beats">
				<div class="cBox cLight">
					<span class="cText">A</span>
				</div>
			</a>
			<div class="cPanelRight">
				<span class="allCenter" style="text-align:center;">
					<h1>CRAIG BROWN</h1>
					</br>
					<h6>+65.9891.3847</h6>
					<h6 class="h6Small">cbrown1616@hotmail.com</h6>
					</br>
					<!-- <h6></h6> -->
					<h6>Singapore, SG</h6>
				</span>
			</div>
		</div>
	</div>
	<div class="col span_1_of_2 height100" >
		<form name="contactForm" method="post" action="/contact" id="cform">
			<h1 class="getInTouch" style="visibility:hidden;">{{header}} </h1>
			{{#if displayForm}}
				<input class="inputForm" style="margin-top:2%;" type="text" placeholder="{{email}}" id="email" name="email"> </input>
				<br class="clear"/>
				<div class="err">{{err}}</div>
				<br class="clear"/>
				<input class="inputForm" type="text" placeholder="Subject" name="subject" id="subject"> </input>
				 <br class="clear"/>
				<textarea class="areaForm" placeholder="Your Message" id="message" name="message"></textarea>
				<br class="clear"/>
				<input type="submit" class="social" id="send" value='SEND'></div>
			{{/if}}
		</form>
	</div>
</div>