<script type="text/javascript" src="/../swf/autoviewer/swfobject.js"></script>
<script src="/../javascripts/juicebox/jbcore/juicebox.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
<h1 id="scTitle">GO&nbsp;ON...&nbsp;<span id="pressPlay">PRESS&nbsp;PLAY</span><span id="smile">:)</span></h1>
<div id="flashcontent" style="height:70%; width:100%;">AutoViewer requires JavaScript and the Flash Player. 
<a href="http://www.macromedia.com/go/getflashplayer/">Get Flash.</a></div>	
<div id="juicebox-container"></div>
<div id="soundcloudvizlightsbig_hype_container" style="position:relative;overflow:hidden;width:100%;height:100%;">
		<script type="text/javascript" charset="utf-8" src="/../hype/SoundCloud%20Viz%20Lights%20Big.hyperesources/soundcloudvizlightsbig_hype_generated_script.js?23856"></script>
</div>
<script type="text/javascript">
	var mq = window.matchMedia("screen and (max-width: 680px)");
	var flashSupport = true;
	var gal = "{{gallery}}";
	var jb = null;
	comingSoonHTML = '<br class="clear"/><ul id="comingSoon" class="topContentNav subContentNav"><li><a href="#" style="color:white;">Coming Soon</a></li></ul>';
	sComingSoonHTML = '<br class="clear"/><ul id="comingSoon" ><li><a href="#" style="color:white;text-decoration:none;">Coming Soon</a></li></ul>';
	var scGalleryEnum = Object.freeze({ON: 'on', OFF: 'off', SPEED: 500});

	function createJuiceBoxGallery() {
		//should serve for mobile image gallery
		document.getElementById("juicebox-container").style.display="block";
		jb = new juicebox({
		containerId: "juicebox-container",
		galleryWidth: "100%",
		galleryHeight: "50%",
		backgroundColor: "rgba(0,0,0,.6)",
		configUrl: "/../javascripts/juicebox/"+gal,
		});
	}

	function buildSCIframe() {
		/* Build iframes for sound cloud widgets
		*/
		var iframe = document.createElement("IFRAME");
		iframe.setAttribute("width", "75%");
		iframe.setAttribute("height", "166");
		iframe.setAttribute("scrolling", "no");
		iframe.setAttribute("frameborder", "no");
		iframe.style.margin = "0 auto 2em auto";
		iframe.setAttribute("src", "https://w.soundcloud.com/player/?url=[urltext]&show_artwork=true");
		return iframe
	}

	function toggleElems(state) {
		/* Toggle vairous element visibllities on playback
			state 	: on or off state for elems bound to hype document listener 
		*/
		// var speed = scGalleryEnum.SPEED;
		$('#pressPlay').toggle(scGalleryEnum.SPEED);
		$('#smile').toggle(scGalleryEnum.SPEED);
		window.opacityToggle = state;
		window.opacityToggleBig = state;
		var gear = $('#mainLogoGear');
		var logo = $('#mainLogo');
		if (gear.hasClass("spinner")) {
			gear.removeClass('spinner');
			logo.css({'background-image':'url("/../images/logo_top_layer_gray.png")'});
		} else {
			gear.addClass("spinner");
			logo.css({'background-image':'url("/../images/logo_top_layer_purple.png")'});
		}
	}

	function createSoundcloudGallery(container) {
		/*SET UP SOUNDCLOUD GALLERY 
			container 	: div to containt soundcloud widgets
		*/

		//get firebase db ref
		var myFirebaseRef = new Firebase("https://intense-fire-3188.firebaseio.com/");
		var snapCache = null;

		// init soundcloud api
		var client_id = 'cf78dd18275501f9645c0f40f7c2dd31';
		SC.initialize({
		  client_id: client_id
		});

		var tracksRef = myFirebaseRef.child("tracks");
		var snapCache = null;
		//cache the db data so it can be synchronously updated as per the for loop below...
		//note this is techincally an asynchronous caching, so snapCache may be updated 
		//continuously :)
		tracksRef.on("value", function(snapshot) {snapCache = snapshot.val()});

		//set up embedded soundcloud gallery
		$('#'+container).addClass('scrollY').append($('#soundcloudvizlightsbig_hype_container').show());
		SC.get('/users/metakritalgenus/tracks', function(tracks) {
	        for (var i = 0; i < tracks.length; i++) {
	          console.log(tracks[i].title);
		      console.log(tracks[i].uri);
		      var last = false;	
		      if (i == tracks.length-1) {last = true;}
				
			  //create iframe for widget
	          var iframe = buildSCIframe();
	          var widget       = SC.Widget(iframe);
		      var newSoundUrl = tracks[i].uri;
		      var permalink = tracks[i].permalink;

		      if (!snapCache) {
		        //No data in db at all
			  	console.log('creating track for first time: '+permalink);
			  	var newTrack = {};
			  	newTrack[permalink] = {'uri':newSoundUrl};
			  	myFirebaseRef.child("tracks").update(newTrack);
			  } else {
				myFirebaseRef.child("tracks/"+permalink).update({'uri':newSoundUrl});
			  }

			  widget.bind(SC.Widget.Events.PLAY, function(sound) {
			  	toggleElems(scGalleryEnum.ON);
			  });

			  widget.bind(SC.Widget.Events.PAUSE, function(sound) {
			  	toggleElems(scGalleryEnum.OFF);
			  });

			  widget.bind(SC.Widget.Events.FINISH, function(sound) {
			  	//completion states separated for consistency
			  	window.opacityToggle = scGalleryEnum.OFF;
			  	window.opacityToggleBig = scGalleryEnum.OFF;
			  	// var speed = 500;
			  	$('#pressPlay').show(scGalleryEnum.SPEED);
				$('#smile').hide(scGalleryEnum.SPEED);
				$('#mainLogoGear').removeClassClass('spinner');
			  });

			  var dampen = 0.2; // make the effect more apparent on downshifts
			  var prev = 0.0;
			  var position;
			  widget.bind(SC.Widget.Events.PLAY_PROGRESS, function(sound) {
			  	// get information about currently playing sound and animate visuals
			    var wavedata = snapCache[permalink]['wavedata'].replace('[','').replace(']','').split(",");
			    position = Math.floor(sound.relativePosition*wavedata.length)-1;
			    position = (position < 0) ? 0:position;
			    var cur = parseFloat(wavedata[position]);
			    if (cur<prev) {
				   	window.timelineTime = (cur-dampen < 0) ? 0:cur-dampen;
			    } else {
				   	window.timelineTime = cur;
			    }
			    prev = window.timelineTime;
			  });

			  if (last) {
			  	widget.bind(SC.Widget.Events.READY, function(){
			  		$('#scTitle').show(scGalleryEnum.SPEED);
			  	});
			  }

			  // load new widget
			  widget.load(newSoundUrl+"&color=8428BF", {
			  	show_artwork: true,
			  });
				
			  //add widget to UI container
			  $('#'+container).append(iframe);

	    	}
	    });
	}

	if (pluginlist.indexOf("Flash") == -1) { flashSupport = false;}

	if (!mq.matches && gal != "") {
		if (gal == "soundcloud") {
			$('#flashcontent').removeClass('scrollY').empty()
			createSoundcloudGallery('flashcontent');
		} else {
			// Set up autoviewer for big screens
			console.log('Large device detected')
			var fo = new SWFObject("/../swf/autoviewer/autoviewer.swf", "viewer", "100%", "100%", "8", "#181818");
			fo.addVariable("xmlURL", "/../swf/autoviewer/"+gal);
			fo.addParam("wmode", "transparent");
			fo.write("flashcontent");

			if (!flashSupport) {
				// large device but no flash support
				document.getElementById("flashcontent").style.display="none";
				createJuiceBoxGallery();
			}
		}
	} else if (mq.matches && gal != "") {
		// Set up juciebox for small mobile
		if (gal == "soundcloud") {
			$('#flashcontent').removeClass('scrollY').empty()
			$('#flashcontent').show(); //use this container for sc. Better allows for smooth transitioning
			createSoundcloudGallery('flashcontent');
		} else {
			console.log('Small device detected');
			createJuiceBoxGallery();
		}
	} else if (!mq.matches){
		// Nothing to show - big
		console.log('Large device - coming soon');
		var fl = document.getElementById('flashcontent');
		fl.innerHTML = comingSoonHTML;
	} else {
		// Nothing to show - small/mobile
		console.log('Small device - coming soon');
		var jc = document.getElementById('juicebox-container');
		jc.innerHTML = sComingSoonHTML;
	}

</script>